
*.class
target/awesome-pizza-0.0.1-SNAPSHOT.jar
target/awesome-pizza-0.0.1-SNAPSHOT.jar.original
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
*.jar
*.class
*.jar
*.original
